@media all and (max-width: 1000px) {@media all and (max-width: 1000px) {
}
@media all and (max-width: 670px) {
  .container{
    margin:0 auto;
    width:670px;
    text-align: left;
  }
  #nav-content{
    display:none;
  }
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .hum-wrapper{
    display:block;
  }
}
